@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
p,a{
    color: black;
}
.sora-text-style {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}